.mat-form-field-wrapper {
    margin: 0 4px !important;
}
.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
    margin-bottom: 0;
    margin: 0 9px;
}
.error {
    color: red;
    font-size: 12px;
  }
  