table {
  width: 100%;
}
.btn-user {
  padding: 15px;
}
.action-pd {
  padding: 0 20px;
}
th.mat-header-cell.cdk-header-cell.cdk-column-action.mat-column-action.ng-star-inserted {
  width: 15% !important;
}